*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Franklin', sans-serif;
}
.logo img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}
h1{
    text-align: center;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 2.8rem;
    margin-top: 40px;
}
span{
    color: #000;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 1.3rem;
    color: hsl(209, 33%, 12%);
    margin-top: 10px;
}
input{
    display: block;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #d6dce8;
    padding-left: 30px;
    color: hsl(0, 0%, 59%);
}
.input-section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#btn{
    width: 180px;
    border: none;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.illustration{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    margin-top: 60px;
}
.icons{
    color: blue;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.icons i{
    margin-right: 20px;
    cursor: pointer;
}
h2{
    margin-left: 430px;
    font-size: .7rem;
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    font-style: italic;
}
h3{
    font-size: .6rem;
    text-align: center;
    color: hsl(0, 0%, 59%);
    margin-top: 30px;
    font-weight: 300;
}


@media (max-width: 555px){
    h1{
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5rem;
    }
    .input-section{
        display: block;
    }
    input{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #btn{
        width: 350px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .illustration{
        width: 450px;
    }
    h2{
        margin-bottom: 50px;
    }
}